@page
@model ProjectFinal.Pages.LoginModel
@{
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#loginbutton").click(function () { login(); });
        });

        function login() {
            var uname = $("#uname").val();
            var psw = $("#psw").val();
            $.ajax({
                url: "./actionsLG",
                method: "POST",
                headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                data: {
                    action: "login",
                    uname: uname,
                    psw: psw,
                },
                success: function (data) {
                    alert(data);
                    if (data.trim() == "Login success") {
                       window.location.replace("./ui6");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) { alert(thrownError); }
            });
        }

        

     </script>
</head>

<form>
    @Html.AntiForgeryToken()
    <div class="container text-white">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" id="uname" required>
        <br><br>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        <br><br>
        <button class="btn-danger text-white" type="button" id="loginbutton">
            
            Login
            
            </button>
        
    </div>

</form>
</div>
z
 <style>
body {
  background-image: url('https://th.bing.com/th/id/R.821c470f41591ed1d779d2d44b4176fe?rik=ObB4p6f9TwkNAw&riu=http%3a%2f%2fwallpapersdsc.net%2fwp-content%2fuploads%2f2017%2f04%2fConcert-HD-Desktop.jpg&ehk=yM5QX%2fUGioO7bshBh6kY8OVXeyUkuOQ%2fHSisjAiE9Gs%3d&risl=&pid=ImgRaw&r=0');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}
.videoViewer {
    position: relative;
       
    
}
</style> 
