@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<div class="text-white text-center">
<h1>@ViewData["Title"]</h1>

<h6>Database : Wittayakorn thongkum 6321606308.</h6>
<h6>Back-end : Pongsatorn JitjaiSuengTham 6321600342</h6>
<h6>Ui : Peeranat Supapvanit 6321610542</h6>
</div>

<style>
body {
  background-image: url('https://rare-gallery.com/mocahbig/395912-wallpaper-dj-marshmello-art-4k-hd.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}
.videoViewer {
    position: relative;
       
    
}
</style> 